html{
  cursor: url('../img/cursor_2.svg'),auto;
}

#white{
  background:#ffffff;
}

/* body {
  background-color: #ffffff;
} */

a:hover {
  opacity: 0.7;
}

.affiche {
  background-color: #ffffff;
  position: relative;
  height: 45vw;
  width: 150vw;
  margin: 0 auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  /* background-image: url('../img/affiche.png'); */
  overflow: hidden;
}

.navbar {
    /* overflow: hidden; */
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main {
    margin-top: 20vh;
}


/* главное меню */


@keyframes menu {
  0% {top: -30vh;}
  100% {top: 0vh;}
}

@keyframes menu_2 {
  0% {top: 0vh;}
  100% {top: -30vh;}
}

.animation_in {
  animation-play-state: paused;
  animation-duration: 0.3s;
  animation-name: menu;
  animation-fill-mode: forwards;
}

.animation_out {
  animation-play-state: paused;
  animation-duration: 0.3s;
  animation-name: menu_2;
  animation-fill-mode: forwards;
}

.logo_blue {
  height: 6.4vh;
  width: 27vh;
  top: 4vh;
  left: 6vh;
  position: absolute;
}

.logo_0_blue {
  height: 34.5vh;
  width: 27vh;
  top: -35vh;
  position: absolute;
}

.logos_square_1 {
  height: 6.4vh;
  width: 27vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square_1.svg');
}

.logos_square_01 {
  height: 6.4vh;
  width: 27vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square_1.svg');
  display: none;
}

.logos_square_big_blue {
  height: 34.5vh;
  width: 27vh;
  top: -30vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square_big_blue.svg');
}

.logos_square_big {
  height: 34.5vh;
  width: 27vh;
  top: -30vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square_big.svg');
}


/* афиша */

.poster_1 {
  height: 34vw;
  width: 24vw;
  top: 9.5vw;
  left: 3.2vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл1.jpg);
}

.poster_2 {
  height: 17vw;
  width: 12vw;
  top: 9.5vw;
  left: 29vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл2.jpg);
}

.poster_3 {
  height: 17vw;
  width: 12vw;
  top: 24vw;
  left: 42.5vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл3.jpg);
}

.poster_4 {
  height: 25.5vw;
  width: 38vw;
  top: 9.5vw;
  left: 56vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл4.jpg);
}

.star {
  height: 14.5vw;
  width: 22vw;
  top: 4vw;
  left: 82vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../img/star.svg);
  animation: starrr 3s linear infinite;
}

@keyframes starrr {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(30deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(30deg);}
  100% {transform: rotate(0deg);}
}

.poster_5 {
  height: 17vw;
  width: 12vw;
  top: 24vw;
  left: 95.2vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл5.jpg);
}

.poster_6 {
  height: 34vw;
  width: 24vw;
  top: 9.5vw;
  left: 108.7vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл6.jpg);
}

.poster_7 {
  height: 17vw;
  width: 12vw;
  top: 9.5vw;
  left: 134vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  background-image: url(../img/пазл7.jpg);
}

.poster_4_b {
  height: 25.5vw;
  width: 38vw;
  top: 9.5vw;
  left: 56vw;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  display: none;
  cursor: url("../img/cursor_1.svg"), auto;
  background: #5465FF;
}


/* тексты */

.test_w {
  height: 2vh;
  width: 20vh;
  top: 20vh;
  left: 3vh;
  font-size: 2.7vh;
  position: absolute;
  color: #ffffff;
}

.index_text_w {
  height: 2vh;
  width: 20vh;
  top: 10vh;
  left: 3vh;
  font-size: 2.7vh;
  position: absolute;
  color: #ffffff;
}

.affiche_text_w {
    height: 2vh;
    width: 20vh;
    top: 15vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #ffffff;
}

.merch_text_w {
    height: 2vh;
    width: 20vh;
    top: 25vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #ffffff;
}

/* .centr_text_w {
    height: 2vh;
    width: 20vh;
    top: 24vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #ffffff;
} */

.fof_text_w {
    height: 2vh;
    width: 20vh;
    top: 30vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #ffffff;
    opacity: 10%;
}

.text_2_w {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 173vh;
  font-size: 3.6vh;
  position: absolute;
  color: #5465FF;
}

.text_3_w {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 171vh;
  font-size: 3.6vh;
  position: absolute;
  color: #5465FF;
}

.text_4_w {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 190vh;
  font-size: 3.6vh;
  position: absolute;
  color: #5465FF;
}

.text_star {
  height: 4vw;
  width: 7.2vw;
  top: 10.2vw;
  left: 89.1vw;
  font-size: 1vw;
  rotate: 27deg;
  position: absolute;
  color: #fff;
}

.text_p4_b {
  height: 10vw;
  width: 20vw;
  top: 2vw;
  left: 2vw;
  font-size: 3vw;
  position: absolute;
  color: #fff;
}

.tekti_1 {
  height: 2vw;
  width: 12vw;
  top: 41.7vw;
  left: 29vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.tekti_2 {
  height: 2vw;
  width: 12vw;
  top: 27.1vw;
  left: 29vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.tekti_3 {
  height: 2vw;
  width: 12vw;
  top: 41.7vw;
  left: 42.5vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.tekti_4 {
  height: 2vw;
  width: 13vw;
  top: 35.7vw;
  left: 68.4vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.tekti_5 {
  height: 2vw;
  width: 12vw;
  top: 41.7vw;
  left: 95.2vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.tekti_6 {
  height: 2vw;
  width: 12vw;
  top: 41.7vw;
  left: 134vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.tekti_7 {
  height: 2vw;
  width: 12vw;
  top: 27.1vw;
  left: 134vw;
  font-size: 0.8vw;
  position: absolute;
  color: #000;
}

.text_centr {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 186.5vh;
  font-size: 3.6vh;
  position: fixed;
  color: #ffffff;
}
