.kartinki {
  background-color: #ffffff;
  position: relative;
  height: 45vw;
  width: 311vw;
  margin: 0 auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/kartinki.png');
  overflow: hidden;
}

/* фотки */

.photos_block {
  padding: 71px 0 20px 0;
  display: flex;
}
.photos {
  display: flex;
  flex-direction: row;
  padding: 60px 40px 0px 40px;
  gap: 20px;
  /* overflow-x: hidden; */
}
.photo {
  display: flex;
  width: 670px;
  border-radius: 20px;
  background-color: #666666;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px #CCCCCC);
  height: calc(100vh - 180px);
}
.photo_img {
  height: 100%;
  border-radius: 10px;
}
.photo_outline {
  outline: 1px solid #ccc;
}
