#blue{
  background:#5465FF;
}

html{
  cursor: url('../img/cursor_2.svg'),auto;
}

a, button, .circle, .polygon, .square, .logo_blue, .logo:hover {
  cursor: url("../img/cursor_1.svg"), auto;
}

a:hover {
  opacity: 0.7;
}


/* экран */

.main_menu {
  background-color: #5465FF;
  position: relative;
  height: 100vh;
  width: 210vh;
  margin: 0 auto;
  background-size: auto 100%;
  background-repeat: no-repeat;
  /* background-image: url('../img/menu.png'); */
  overflow: hidden;
}

/* главное меню */

.logo {
  height: 6.4vh;
  width: 27vh;
  top: 4vh;
  left: 6vh;
  position: fixed;
}

.block {
  height: 14vh;
  width: 210vh;
  position: fixed;
  background-color: #5465FF;
  top: 0;
}

.logo_0 {
  height: 34.5vh;
  width: 27vh;
  top: -35vh;
  position: absolute;
}

/* белое */

.logos_square {
  height: 6.4vh;
  width: 27vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square.svg');
}

.logos_square_0 {
  height: 6.4vh;
  width: 27vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square.svg');
  display: none;
}

.logos_square_big {
  height: 34.5vh;
  width: 27vh;
  top: -30vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square_big.svg');
}

@keyframes menu {
  0% {top: -30vh;}
  100% {top: 0vh;}
}

@keyframes menu_2 {
  0% {top: 0vh;}
  100% {top: -30vh;}
}

.animation_in {
  animation-play-state: paused;
  animation-duration: 0.3s;
  animation-name: menu;
  animation-fill-mode: forwards;
}

.animation_out {
  animation-play-state: paused;
  animation-duration: 0.3s;
  animation-name: menu_2;
  animation-fill-mode: forwards;
}

.logos_square_big_blue {
  height: 34.5vh;
  width: 27vh;
  top: -30vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/logos_square_big_blue.svg');
}


/* фигурки */

.circle {
  height: 10vh;
  width: 15vh;
  top: 45vh;
  left: 14.3vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/circle.svg');
}

.circle_hole {
  height: 17vh;
  width: 40vh;
  top: 79vh;
  left: 6vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/circle_hole.svg');
}

.polygon {
  height: 8.8vh;
  width: 15vh;
  top: 46.5vh;
  /* left: 72.2vh; */
  left: 99.26vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/polygon.svg');
}

.polygon_hole {
  height: 17vh;
  width: 28vh;
  top: 79vh;
  /* left: 64vh; */
  left: 91vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/polygon_hole.svg');
}

.square {
  height: 9.1vh;
  width: 10vh;
  top: 46vh;
  left: 186vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/square.svg');
}

.square_hole {
  height: 17vh;
  width: 29vh;
  top: 79vh;
  left: 177.3vh;
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url('../img/square_hole.svg');
}

/* тексты */
/* синие */

.text_1 {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 135vh;
  font-size: 3.6vh;
  position: absolute;
  color: #ffffff;
}

.text_2 {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 170vh;
  font-size: 3.6vh;
  position: absolute;
  color: #ffffff;
  display: none;
}

.text_3 {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 163vh;
  font-size: 3.6vh;
  position: absolute;
  color: #ffffff;
  display: none;
}

.text_4 {
  height: 3.5vh;
  width: 70vh;
  top: 5vh;
  left: 185vh;
  font-size: 3.6vh;
  position: absolute;
  color: #ffffff;
  display: none;
}

.test {
  height: 2vh;
  width: 20vh;
  top: 20vh;
  left: 3vh;
  font-size: 2.7vh;
  position: absolute;
  color: #5465FF;
}

.main_menu_text {
  height: 2vh;
  width: 20vh;
  top: 10vh;
  left: 3vh;
  font-size: 2.7vh;
  position: absolute;
  color: #5465FF;
}

.affiche_text {
  height: 2vh;
  width: 20vh;
    top: 15vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #5465FF;
}

.merch_text {
  height: 2vh;
  width: 20vh;
    top: 25vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #5465FF;
}

/* .centr_text {
  height: 2vh;
  width: 20vh;
    top: 24vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    color: #5465FF;
} */

.fof_text {
  height: 2vh;
  width: 20vh;
    top: 30vh;
    left: 3vh;
    font-size: 2.7vh;
    position: absolute;
    opacity: 10%;
    color: #5465FF;
}
