@import "index.css";
@import "reset.css";
@import "all_files.css";

@font-face {
    font-family: 'Feature Mono';
    src: url('FeatureMono-Regular.eot');
    src: url('FeatureMono-Regular.eot?#iefix') format('embedded-opentype'),
        url('FeatureMono-Regular.svg#FeatureMono-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Feature Mono';
    src: url('FeatureMono-Light.eot');
    src: url('FeatureMono-Light.eot?#iefix') format('embedded-opentype'),
        url('FeatureMono-Light.woff2') format('woff2'),
        url('FeatureMono-Light.woff') format('woff'),
        url('FeatureMono-Light.svg#FeatureMono-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Feature Mono';
    src: url('FeatureMono-Bold.eot');
    src: url('FeatureMono-Bold.eot?#iefix') format('embedded-opentype'),
        url('FeatureMono-Bold.woff2') format('woff2'),
        url('FeatureMono-Bold.woff') format('woff'),
        url('FeatureMono-Bold.svg#FeatureMono-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
